<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Delight Restaurant</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="{% static 'inventory/styles.css' %}" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Sawarabi+Mincho&display=swap" rel="stylesheet">
  </head>
  <body>
    {% include 'inventory/header.html' %}
    {% block content %}
    {% endblock content %}
  </body>
</html>
