<header class="site_header">
  <div class="site_header__wrapper">
    <h3 class="logo-header">Restaurant Delight</h3>
    <nav class="nav-header">
      <ul class="nav__links">
        <li>
          <a href="#">Ingredients</a>
        </li>
        <li>
          <a href="#">Menu</a>
        </li>
        <li>
          <a href="#">Purchase</a>
        </li>
        {% if user.username is not None %}
        <li>
          <a href="{% url 'inventory:logout' %}">Log out?</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>